<?xml version="1.0"?>

<!--
2018 Varundev Suresh Babu (University of Virginia)
            MIT License
-->

<launch>
  <node        name           = "heading_generator"
               pkg            = "simulator"
               type           = "follow_the_gap"
               output         = "screen"/>
  <node        name           = "gap_rider"
               pkg            = "simulator"
               type           = "follow_the_gap_ride.py"/>
</launch>
